.logo-slider-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden; // Importante para que los logos no se salgan

    .slider-track {
        display: flex;
        width: calc(180px * 12); // Ajusta según el número de logos (180px * total)
        animation: scroll-infinite 25s linear infinite;
        
    }

    .slide {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        

        img {
            max-width: 100%;
            height: auto;
            transition: all 0.3s ease;
            
            
        }
    }
}

@keyframes scroll-infinite {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-180px * 3)); } // Debe ser la mitad del total de logos
}