.cert-item {
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
    position: relative; // Necesario para posicionar el botón internamente
}

.custom-button-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    translate: 0 -50%; // centra verticalmente también
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
